.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-color:#1bcbf2;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container{
  width:40%;
  background-color:#1bcbf2;
  height: auto;
  border-radius: 6px;
  margin-top:5%;
  padding: 20px;
}

.container form{
  display: flex;
    justify-content: center;
    align-items: baseline;
}

.todo-form input{
  background-color: #fff !important;
    border-radius: 6px !important;
    padding: 0 10px !important;
}

.todo-form button{
  margin: 0 0 0 20px;
}
